* {
  box-sizing: border-box;
}

.col-div {
  padding: 0 0 0 0;
}

.menu {
  background-color: #eeeeee;
  margin-top:10px;
  margin-bottom:10px;
  width:90%
}

#header-nav {
   background-color: #777777;
}

#name {
  margin: 10px 0 10px 0;
  color: white;
  font-size: 250%
}

#button {
  margin: 20px 10px 20px 0;
}

#collapsable-nav {
  padding-left: 0;
  padding-right: 0;
}

#nav-list {
  background-color: #DDDDDD;
  margin: 0 0 0 0;
  width: 100%;
}
